body {
    margin: 0;
    font-family: 'Noto Sans' , sans-serif;
}

body *{
box-sizing :border-box;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background: #094839;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login> h1 {
    font-size: 3vh;
    color: #88f6c3;
}

.left-login-image{
    width: 25vw;
}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 70%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #025f50;
    border-radius:20px;
    box-shadow: 0px 10px 40px  #00000056;
}
.card-login> h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

textfield> input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #1b4741;
    color: #f1ffffde;
    font-size: 12pt;
    box-shadow:0px 10px 40px  #74747456;
    outline:none;
    box-sizing: border-box;
}
.textfield> label{
    color: #f1ffffde;
    margin-bottom: 10px;
}

.textfield >input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 15px 0px;
    margin:25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #044e3a;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px   #03351c52;
} 



